html {
    font-size: 16px;
}

:root {
    --clr-primary-300: rgb(191, 196, 246);
}

body {
    background-color: rgb(191, 196, 246);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 0, 0);
}

.container {
    margin: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.btn {
    height: 40px;
    display: inline-block;
    color: rgb(211, 209, 209);
    font-size: 15px;
    border: 0.5px solid silver;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: rotate(-360deg);
    transition: 1000ms;
}
  
.btn:active {
    transform: rotate(360deg);
    transition: 500ms;
}

.main {
    display: grid;
    background-color: rgb(13, 9, 245);
    padding: 20px;
    border-radius: 20px;
}

.main > .para, .main > .form {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(191, 196, 246);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.main > .form {
    display: grid;
    grid-template-columns: 28% 28% 28% 16%;
}

.form-input-text {
    border-radius: 5px;
    margin-bottom: 5px;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: none;
}

.main > .btn {
    grid-column-start: 4;
    grid-column-end: 4;
    position: relative;
    top: calc(50% - 25px);
}

.form-collumn-1 {
    grid-column-start: 1;
}

.form-collumn-2 {
    grid-column-start: 2;
}

.form-collumn-3 {
    grid-column-start: 3;
}

.form-collumn-4 {
    grid-column-start: 4;
    justify-content: space-evenly;
}